<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false}} -->
<main class="wp-block-group"><!-- wp:group {"templateLock":"all","layout":{"type":"constrained","contentSize":"1295px","wideSize":"1440px"},"lock":{"move":true,"remove":true},"style":{"color":{"gradient":"linear-gradient(90deg,rgb(48,138,249) 0%,rgb(51,201,245) 100%)"}}} -->
<div class="wp-block-group has-background" style="background:linear-gradient(90deg,rgb(48,138,249) 0%,rgb(51,201,245) 100%);"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1294px","wideSize":""}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"style":{"spacing":{"blockGap":"5px"}}} -->
<div class="wp-block-group"><!-- wp:site-logo {"width":43,"shouldSyncIcon":false,"className":"is-style-default"} /-->

<!-- wp:paragraph {"fontSize":"large"} -->
<p class="has-large-font-size">mock</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:navigation {"ref":44} /-->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"background","style":{"color":{"text":"#41cdff"}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-background-background-color has-text-color has-background wp-element-button" style="color:#41cdff;">BOOK NOW</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:spacer -->
<div style="height:100px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"56px"}},"fontFamily":"poppins"} -->
<p class="has-poppins-font-family" style="font-size:56px;">Increase the chances of <strong>getting hired!</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"18px"}},"fontFamily":"poppins"} -->
<p class="has-poppins-font-family" style="font-size:18px;">A successful interview begins with thorough preparation. Book 1-on-1 Mock interviews and mentorship sessions with industry professionals to help you prepare for your interview .</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"color":{"background":"#ffd221"}},"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-background wp-element-button" style="background-color:#ffd221;">BOOK NOW</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"background","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-background-color has-text-color wp-element-button">CONTACT US</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":65,"width":739,"height":554,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://nenevikky.files.wordpress.com/2022/09/animation_500_l42tqsui.gif?w=500" alt="" class="wp-image-65" width="739" height="554" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","contentSize":"974px","wideSize":"974px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","wideSize":"492px"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"color":{"text":"#505d68"},"typography":{"fontSize":"47px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#505d68;font-size:47px;font-style:normal;font-weight:700;">Things We Do Better</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"color":{"background":"#f2f2f2"},"border":{"width":"0px","style":"none"}}} -->
<div class="wp-block-column has-background" style="border-style:none;border-width:0;background-color:#f2f2f2;"><!-- wp:image {"id":61,"width":125,"height":139,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
<figure class="wp-block-image size-large is-resized is-style-default"><img src="https://nenevikky.files.wordpress.com/2022/09/group-138402x.png?w=288" alt="" class="wp-image-61" width="125" height="139" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#308af9"}}} -->
<p class="has-text-align-center has-text-color" style="color:#308af9;">Affordable</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"}}} -->
<p class="has-text-align-center has-text-color" style="color:#888888;">9/10 mock interview platform would charge more than 1.5k for the same. We understand the money constraint for most folks, therefore we are providing our services for INR 499 only.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"color":{"background":"#f2f2f2"}}} -->
<div class="wp-block-column has-background" style="background-color:#f2f2f2;"><!-- wp:image {"id":58,"width":114,"height":176,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://nenevikky.files.wordpress.com/2022/09/group-391402x.png?w=228" alt="" class="wp-image-58" width="114" height="176" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#308af9"}}} -->
<p class="has-text-align-center has-text-color" style="color:#308af9;">Experienced mentor</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"}}} -->
<p class="has-text-align-center has-text-color" style="color:#888888;">We have one of the largest groups of interviewers and mentors from top startups &amp; companies. Not just it would enhance your preparation strategy but also focus on critical aspects required for a particular company.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"color":{"background":"#f2f2f2"}}} -->
<div class="wp-block-column has-background" style="background-color:#f2f2f2;"><!-- wp:image {"id":62,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/bullet-journal-pana.png?w=244" alt="" class="wp-image-62" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#308af9"}}} -->
<p class="has-text-align-center has-text-color" style="color:#308af9;">Feedback and Notes</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"}}} -->
<p class="has-text-align-center has-text-color" style="color:#888888;">Post-interview and mentorship sessions, we provide you the detailed feedback and analysis on your performance &amp; key places to improve on. In addition, you will receive the interview preparation notes to refer from.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#101729"}}} -->
<p class="has-text-align-center has-text-color" style="color:#101729;">Learn more</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","wideSize":"310px"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"color":{"text":"#505d68"},"typography":{"fontSize":"47px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#505d68;font-size:47px;font-style:normal;font-weight:700;">Our Services</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"1037.5px"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":68,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/group-1236.png?w=405" alt="" class="wp-image-68" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#308af9"},"typography":{"fontSize":"48px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#308af9;font-size:48px;font-style:normal;font-weight:700;">Mock Interview</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">1 hour  session</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Pre-assessment grade</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Performance report</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Interview recordings</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Notes for preparations</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Resume Analysis</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"background","style":{"color":{"background":"#308af9"}},"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-background-color has-text-color has-background wp-element-button" style="background-color:#308af9;">BOOK NOW</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:paragraph {"style":{"color":{"text":"#101729"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"300"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#101729;font-size:16px;font-style:normal;font-weight:300;">VIEW MORE -&gt;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1037.5px"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#308af9"},"typography":{"fontSize":"48px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#308af9;font-size:48px;font-style:normal;font-weight:700;">Mentorship</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">1 hour session</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Session recordings</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Mentorship Community</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Preparation Notes</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Mentor from your desired company</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#888888"}}} -->
<p class="has-text-color" style="color:#888888;">Resume in-depth analysis</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"background","style":{"color":{"background":"#308af9"}},"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-background-color has-text-color has-background wp-element-button" style="background-color:#308af9;">BOOK NOW</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:paragraph {"style":{"color":{"text":"#101729"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"300"}},"fontFamily":"poppins"} -->
<p class="has-text-color has-poppins-font-family" style="color:#101729;font-size:16px;font-style:normal;font-weight:300;">View more -&gt;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":70,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/learning-languages-rafiki.png?w=308" alt="" class="wp-image-70" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","wideSize":"508px"},"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"primary"} -->
<div class="wp-block-group has-primary-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;"><!-- wp:spacer {"height":"8px"} -->
<div style="height:8px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Why Mock Interview?</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"72px"} -->
<div style="height:72px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"1143px"},"style":{"spacing":{"blockGap":"30px"}}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"361px"} -->
<div class="wp-block-column" style="flex-basis:361px;"><!-- wp:image {"id":75,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/stress-pana.png?w=177" alt="" class="wp-image-75" /><figcaption class="wp-element-caption">Reduces Stress</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"361px"} -->
<div class="wp-block-column" style="flex-basis:361px;"><!-- wp:image {"id":73,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/group-394.png?w=176" alt="" class="wp-image-73" /><figcaption class="wp-element-caption">Boost your confidence</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"361px"} -->
<div class="wp-block-column" style="flex-basis:361px;"><!-- wp:image {"id":74,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/feedback-rafiki.png?w=166" alt="" class="wp-image-74" /><figcaption class="wp-element-caption">Useful feedback</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"55px"} -->
<div style="height:55px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","style":{"color":{"text":"#505d68"}}} -->
<h2 class="has-text-align-center has-text-color" style="color:#505d68;">Our Students Placed At</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:image {"id":78,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/cleanshot-2022-09-16-at-17.51.43402x.png?w=1024" alt="" class="wp-image-78" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:image {"id":79,"width":1099,"height":634,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://nenevikky.files.wordpress.com/2022/09/cleanshot-2022-09-16-at-18.00.02402x.png?w=1024" alt="" class="wp-image-79" width="1099" height="634" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true},"style":{"color":{"background":"#ffd221"}}} -->
<div class="wp-block-group has-background" style="background-color:#ffd221;"><!-- wp:columns {"verticalAlignment":null} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%;"><!-- wp:image {"id":59,"width":252,"height":220,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://nenevikky.files.wordpress.com/2022/09/group-1234402x.png?w=504" alt="" class="wp-image-59" width="252" height="220" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"50%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:50%;"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"32px","fontStyle":"normal","fontWeight":"500"}},"fontFamily":"poppins"} -->
<p class="has-text-align-center has-poppins-font-family" style="font-size:32px;font-style:normal;font-weight:500;">We are now on Telegram</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Get free placement preparation resources and support by joining a community of over 6000+ students on Telegram.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"background","style":{"color":{"background":"#308af9"},"typography":{"fontSize":"16px"}},"className":"is-style-fill"} -->
<div class="wp-block-button has-custom-font-size is-style-fill" style="font-size:16px;"><a class="wp-block-button__link has-background-color has-text-color has-background wp-element-button" style="background-color:#308af9;"><strong>JOIN NOW</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%;"><!-- wp:image {"id":80,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/group-1235.png?w=190" alt="" class="wp-image-80" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"all","layout":{"type":"constrained","wideSize":"1440px"},"lock":{"move":true,"remove":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"10px"} -->
<div style="height:10px;" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","style":{"color":{"text":"#505d68"},"typography":{"fontSize":"48px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"poppins"} -->
<h2 class="has-text-align-center has-text-color has-poppins-font-family" style="color:#505d68;font-size:48px;font-style:normal;font-weight:700;">Contact us</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"color":{"text":"#344056"},"typography":{"fontSize":"32px","fontStyle":"normal","fontWeight":"500"}},"fontFamily":"poppins"} -->
<p class="has-text-align-center has-text-color has-poppins-font-family" style="color:#344056;font-size:32px;font-style:normal;font-weight:500;">We'd love to hear from you</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"467px"}} -->
<div class="wp-block-group"><!-- wp:columns {"verticalAlignment":null} -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"300"}},"fontFamily":"poppins"} -->
<p class="has-text-align-center has-text-color has-poppins-font-family" style="color:#888888;font-size:16px;font-style:normal;font-weight:300;">info@csmock.com</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"300"}},"fontFamily":"poppins"} -->
<p class="has-text-align-center has-text-color has-poppins-font-family" style="color:#888888;font-size:16px;font-style:normal;font-weight:300;">995-612-7183</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"center","style":{"color":{"text":"#888888"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"300"}},"fontFamily":"poppins"} -->
<p class="has-text-align-center has-text-color has-poppins-font-family" style="color:#888888;font-size:16px;font-style:normal;font-weight:300;">Delhi</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:image {"id":82,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://nenevikky.files.wordpress.com/2022/09/cleanshot-2022-09-16-at-18.20.57402x.png" alt="" class="wp-image-82" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->